/* 
========================================
CSS Reset
========================================

http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
========================================
Global Styles
========================================
*/
h2 {
    font-size: 32px;
    font-weight: 300;
}

h3 {
    font-size: 28px;
    font-weight: 300;
}

div {
    margin-bottom: 40px;
}

ul {
    margin-left: 30px;
    margin-bottom: 30px;
}

ol {
    margin-left: 30px;
    margin-bottom: 30px;
}

li {
    margin-bottom: 20px;
}

h4 {
    font-size: 24px;
    font-weight: 300;
}


/* 
========================================
Layout
========================================
*/
.note {
    /*border: 1px solid;*/
    display: inline-block;
    margin: 10px;
    margin-top: 50px;
}

.place-holder {
    /*border: 1px solid;*/
    display: inline-block;
    margin: 10px;
    margin-top: 40px;
}

section:last-child {
    margin-bottom: 100px;
}

section {
    padding-left: 20px;
}

.main-menu {
    border: 1px solid;
    display: inline-block;
    position: relative;
    margin: 20px 0px 30px 0px;
    height: 200px;
}

.top-nav li {
    border: 1px solid;
    display: inline-block;
    position: relative;
    padding: 10px;
    margin: 115px 20px 10px 50px;
}

.logo {
    border: 1px solid;
    float: left;
    position: relative;
    margin: 100px 100px 100px 50px;
}

.title {
    /*border: 1px solid;*/
    clear: both;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.copyright {
    border: 1px solid;
    display: inline-block;
    float: left;
    margin: 50px 150px 50px 100px;
}

.bottom-nav li {
    border: 1px solid;
    display: inline-block;
    padding: 10px;
    margin: 40px 60px 30px;
}

.footer {
    height: 120px;
}

.text {
    margin: 0px 80px;
}


/* 
========================================
Typography
========================================
*/

.logo, .title {
    font-family: 'Playfair Display', serif;
}

.logo {
    font-weight: 700;
    font-size: 48px;
}

.title {
    font-weight: 400;
    font-size: 60px;
}

.top-nav li {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.chord, .lyric {
    /*border: 1px solid;*/
    font-family: 'Playfair Display', sans-serif;
    font-size: 28px;
    text-align: center;
    font-weight: 400;
}

.copyright, .bottom-nav {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.copyright {
    font-weight: 300;
}

.bottom-nav {
    font-weight: 100;
}

.text p, ul, ol, li{
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}


/* 
========================================
Colors
========================================
*/

.header, .footer {
    background: linear-gradient(to right, #225C98, #80E697);
}

.logo {
    color: #CEE1F5;
}

.top-nav li {
    color: #01310C;
}

/* 
========================================
Navigation
========================================
*/




/* 
========================================
Images
========================================
*/

img {
    display: inline-block;
    padding: 5px 5px 5px 5px;
    /*border: 1px solid;*/
    height: 100px;
    width: 140px;
}

.short-arrow {
    padding: 55px 5px 75px 5px;
    /*border: 1px solid;*/
    height: 30px;
    width: 140px;
}











