/* 
========================================
Main Styles
========================================
*/

.title {
    clear: both;
    margin-top: 50px;
    margin-bottom: 30px;
    /*border: 1px solid;*/
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

.intro {
    /*border: 1px solid;*/
    margin: 10px 100px 30px 100px;
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 1.5px;
    line-height: 30px;
}

.home, .graph {
    padding-left: 20px;
}

.home:last-child {
    margin-bottom: 100px;
}

.one-indent, .two-indent, .three-indent {
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 1.5px;
    line-height: 30px;
}

.one-indent {
    /*border: 1px solid;*/
    margin: 10px 100px 30px 150px;
}

.two-indent {
    /*border: 1px solid;*/
    margin: 10px 100px 50px 200px;
}

.three-indent {
    /*border: 1px solid;*/
    margin: 10px 100px 50px 250px;
}

.bullets {
    list-style: inside url('../images/icons8-piano-20b.png');
    line-height: 30px;
    vertical-align: sub;
}

.graph-head {
    /*border: 1px solid;*/
    margin: 50px 100px 10px 100px;
    color: #225C98;
    font-family: 'Times', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.graph-subhead {
    /*border: 1px solid;*/
    color: #3BA190;
    font-family: 'Times', sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin: 10px 100px 10px 150px;
}

/*
h2 {
    color: #225C98;
    font-family: 'Times', sans-serif;
    font-size: 32px;
    font-weight: bold;
}*/


/*
h3 {
    color: #3BA190;
    font-family: 'Times', sans-serif;
    font-size: 28px;
    font-weight: bold;
}*/


/*
section:last-child {
    margin-bottom: 100px;
}*/


/*
section {
    padding-left: 20px;
}*/


nav {
    background: linear-gradient(to right, #225C98, #80E697);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*
p {
    border: 1px solid;
    margin: 10px 100px 50px 100px;
}*/


/*
h2 {
    border: 1px solid;
    margin: 10px 100px 10px 100px;
}*/


/*
h3 {
    border: 1px solid;
    margin: 10px 100px 10px 150px;
}*/


/*
p, ul{
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 1.5px;
    line-height: 30px;
}*/


/*
img {
    display: inline-block;
    padding: 5px 5px 5px 5px;
    border: 1px solid;
    height: 100px;
    width: 140px;
}*/


h4 {
    text-align: center;
    padding: 0px 5px 0px 5px;
    font-family: 'Times', sans-serif;
    font-size: 24px;
}


/* 
========================================
Position Styles
========================================
*/

li.dropdown {
    display: inline-block;
}

li a, .dropbtn {
    text-align: center;
}

.top-nav {
    padding: 50px;
}

.top-nav li {
    margin: 20px 20px 20px 20px;
}

.bottom-nav {
    position: relative;
    height: 120px;
}

.extras {
    /*border: 1px solid;*/
    display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 39%;
  z-index: 1;
}

.dropdown-content a {
  padding: 7px 8px;
  display: block;
  float: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.preview {
    /*border: 1px solid;*/
    display: inline-block;
    margin: 10px 50px 50px 150px;
    text-align: center;
}

.snippet {
    display: inline-block;
    padding: 5px 5px 5px 5px;
    /*border: 1px solid;*/
    height: 150px;
    width: 215px;
}

.bottom-nav li {
    margin: 50px 0px 50px 100px;
}

#logo {
    /*border: 1px solid;*/
    position: relative;
    float: left;
    margin-right: 50px;
    margin-top: -10px;
}



#copyright {
    /*border: 1px solid;*/
    position: relative;
    float: left;
    margin: 50px;
}

/* 
========================================
Appearance Styles
========================================
*/

.extras {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
}

/*
.bullets {
    list-style: inside url('../images/icons8-piano-20b.png');
}*/


#logo {
    font-size: 48px;
    font-weight: 700;
    color: #CEE1F5;
    text-decoration: none;
}

/*
#title {
    font-family: 'EB Garamond';
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}*/


#copyright {
    font-size: 16px;
}

li a, .dropbtn {
    text-align: center;
    color: white;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #FFB892;
  color: black;
}

.dropdown-content {
  background-color: #CEE1F5;
}

.dropdown-content a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {
    background-color: #FFB892;
}

.current {
    background-color: #F4FED2;
    color: black;
}

.preview:hover {
    background-color: #FFB892;
}


.preview a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.preview a:link {
    color: blue;
}

.preview a:visited {
    color: black;
}

.bullets a {
    color: black;
}






