/* 
========================================
Navigation Styles
========================================
*/


.top, .bottom {
    background: linear-gradient(to right, #225C98, #80E697);
    display: flex;
}


.top {
    padding: 50px;
}


.bottom {
    position: relative;
    height: 120px;
}


.logo {
    /*border: 1px solid;*/
    position: relative;
    float: left;
    margin-right: 50px;
}

.top-nav {
    display: inline-block;
    margin: 10px 20px;
}

.text .meter{
    display: none;
}

.text .top-nav {
    margin: 40px 20px;
}

.pg-nav {
    display: inline-block;
}

.first:first-child {
    margin-top: 15px; 
    margin-left: 20px;
}

.second:first-child {
    margin-top: 15px;
    margin-left: 161px;
}

.third:first-child {
    margin-top: 15px;
    margin-left: 302px;
}

.fourth:first-child {
    margin-top: 15px;
    margin-left: 458px;
}

.pg-link, .dp-link {    
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    padding: 10.25px;
}

.pg-link:hover, .dp-link:hover {
    color: #000000;
    background-color: #FFE855;
    /*padding: 4px;*/
}

.logo {
    font-family: 'Playfair Display', 'Times', serif;
    font-size: 48px;
    font-weight: 700;
    color: #CEE1F5;
    text-decoration: none;
}


.copyright {
    position: relative;
    float: left;
    margin: 55px;
    font-size: 18px;
}

.extras {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
    display: inline-block;
    margin: 50px 0px 50px 100px;
}

.in-link {
    color: #EA9B25;
    text-decoration: none;
}

.in-link:visited {
    color: #EA9B25;
}

.current {
    background-color: #CEE1F5;
    color: #000000;
}

.melody-button-active, .chord-button-active, .finger-button  {
  display: block;
  margin: 15px 15px;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #2B3030;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  box-shadow: 0 5px #003141;
}

.chord-button-inactive, .melody-button-inactive  {
  display: block;
  margin: 15px 15px;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #809696;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background-color: #CED6D6;
  border: none;
  border-radius: 8px;
  box-shadow: 0 5px #1D2222;
}


.melody-button:hover, .chord-button-active:hover, .finger-button:hover, .chord-button-inactive:hover, .melody-button-inactive:hover {
    background-color: #FFE855;
    color: #000000;
}


.melody-button:active, .chord-button-active:active, .finger-button:active, .chord-button-inactive:active, .melody-button-inactive:active {
  background-color: #FFE855;
  box-shadow: 0 5px #AA7500;
  transform: translateY(4px);
  color: #000000;
}


.melody-button-active {
    background-color: #008CBA;
}


.chord-button-active {
    background-color: #41C2C2;
}

.finger-button {
    background-color: #80E697;
}


.songs {
    border-right: solid 1px; 
    padding: 15px;
    background-color: #F6FAFE;
    color: #225C98;
}

.song-nav {
    display: block;
    margin: 20px 0px;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Playfair Display', 'Times', serif;
    text-align: center;
}


.song-title {
    display: block;
    margin: 1rem 0;
    text-align: left;
    padding: 5px 10px 5px 5px;
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #EA9B25;
}


.song-title:visited {
    color: #EA9B25;
}


.song-title:hover, .in-link:hover {
    background-color: #FFE855;
    color: #000000;
}


.nav-subhead {
    /*border: 1px solid;*/
    color: #3BA190;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Playfair Display', 'Times', serif;
    text-align: center;
    margin: 20px 0px 10px 0px;
}


.spacer {
    margin-top: 20px;
}


