/* 
========================================
Text Styles
========================================
*/

.columns {
    display: grid;
    grid-template-columns: 20% 80%;
}

.title {
    clear: both;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

.intro {
    margin: 10px 50px 30px 50px;
    font-size: 24px;
    font-weight: 100;
}
    
.intro, .alphabet {
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 1.5px;
    line-height: 30px;
}

.home, .graph {
    padding-left: 20px;
    display: block;
}

.home:last-child {
    margin-bottom: 100px;
}

.one-indent, .two-indent, .three-indent {
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 1.5px;
    line-height: 30px;
}

.one-indent {
    /*border: 1px solid;*/
    margin: 10px 50px 30px 50px;
}

.two-indent {
    /*border: 1px solid;*/
    margin: 10px 100px 50px 200px;
}

.three-indent {
    /*border: 1px solid;*/
    margin: 10px 100px 50px 250px;
}

.bullets {
    list-style: inside url('icons8-piano-20b.png');
    line-height: 30px;
    vertical-align: sub;
}

.graph-head {
    margin: 50px 50px 10px 50px;
    color: #225C98;
    font-family: 'Times', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.graph-subhead {
    /*border: 1px solid;*/
    color: #3BA190;
    font-family: 'Times', serif;
    font-size: 28px;
    font-weight: bold;
    margin: 10px 100px 10px 150px;
}



.chords {
    display: grid;
    margin: 20px 10px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-column-gap: 30px;
    font-size: 28px;
    text-align: center;
    font-weight: 400;
}

.alphabet {
    display: inline;
    margin: 30px 10px;
    font-size: 32px;
    font-weight: 500;
}

.alpha-list {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}






